* {
    margin: 0;
    padding: 0;
}

/* This part is dedicated to the navbar */
nav {
    background-color: rgba(0, 0, 0, 0.5) !important;
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
}
ul {
    width: 80%;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

li {
    border: 1px solid rgb(164, 158, 158) ;
    border-radius: 30%;

    padding: 10px;
    list-style: none;
}
a {
    color: rgb(255, 252, 252);
    font-size: large;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



/* This part is for the body */
body {
    height: 100vh;
}
.title h1 {
    background-image: url("https://media0.giphy.com/media/l396ISDU0oS6gDIUU/200.webp?cid=ecf05e47yhbjsxqfrjc3f8j09ja0vd1tyqhjt4i28czjb9zp&rid=200.webp&ct=g ");
    background-size: cover;
    font-size: 40px;
    letter-spacing: 10px;
    text-align: center;
    /* transition-duration: 100; */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;;
}
.title div {
    display: flex;
    
}

/* the rows section */
.rows-1 {
    position: relative;
    background-color: rgb(18, 76, 128);
    display: flex;
    
    height: 30%;
    width: 100%;
}
.rows-2 {
    background-color: rgb(25, 42, 56);
    display: inline-block;
    justify-content: center;
    height: auto;
    width: 100%;
}
.rows-3 {
    background-color: rgb(170, 43, 151);
    display: inline-block;
    justify-content: center;
    height: auto;
    width: 100%;
}
.rows-4 {
    background-color: rgb(59, 62, 64);
    display: inline-block;
    justify-content: center;
    height: auto;
    width: 100%;
}

/* colms  */
.colms {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}
/* images  */
.flip {
    height: 40px;
    width: 40px;
}
